body {
    background: beige;
    font-family: Arial, Helvetica, sans-serif;
}

#top_heading {
    color: darkblue;
    text-align: center;
}

#content {
    background-color: sandybrown;
    padding: 5px;
    margin: 15px auto;
    width: 50%;
    border-radius: 10px;
    border: 5px solid darkblue;
    color: darkblue;
    text-align: center;
}

#links, #projectlinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#links section, #projectlinks section {
    background: whitesmoke;
    border-radius: 7px;
    margin: 15px;
    padding: 10px;
    text-align: center;
    width: 30%;
    box-sizing: border-box; 
    border: 2px solid darkblue; 
}

#links img, #projectlinks img {
    width: 350px; 
    height: auto; 
    margin: auto;
    display: block;
    border: 2px solid sandybrown; 
    border-radius: 5px; 
}

#links ul, #projectlinks ul {
    padding-left: 0;
    width: fit-content;
    margin: 10px auto;
}

#links li, #projectlinks li {
    list-style: none;
    display: inline-block;
}

#links a, #projectlinks a {
    text-decoration: none;
    background-color: sandybrown;
    color: darkblue;
    padding: 5px;
    margin: 5px;
    border-radius: 7px;
    display: inline-block;
}

#project-title {
    text-align: center;
}

@media only screen and (max-width: 768px) {
    #links section, #projectlinks section {
        width: 100%; 
    }
}
